.pagination-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination-list>li {
    display: flex;
    text-align: center;
    color: #337ab7;
}

.pagination-list>li>a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination-list>.active>a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination-list>li>a:hover, .pagination-list>li>span:focus, .pagination-list>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}